
/.cproject
/.project
/CMakeCache.txt
/CMakeFiles
/bin
/easyimagesizer3/CMakeFiles
/easyimagesizer3-gui/CMakeFiles
/plugins/CMakeFiles
/plugins/exif/CMakeFiles
/plugins/overlay/CMakeFiles
/plugins/overlay-text/CMakeFiles
/plugins/rename/CMakeFiles
/plugins/resize/CMakeFiles
/plugins/rotate/CMakeFiles
/Makefile
/cmake_install.cmake
/cmake_uninstall.cmake
/easyimagesizer3-gui/Makefile
/easyimagesizer3-gui/cmake_install.cmake
*.cmake
*.depends
/easyimagesizer3/Makefile
/plugins/exif/Makefile
/plugins/Makefile
/plugins/overlay-text/Makefile
/plugins/overlay/Makefile
/plugins/rename/Makefile
/plugins/resize/Makefile
/plugins/rotate/Makefile